<template>
  <div>
    <!-- <b-nav tabs>
    <b-nav-item class="headerText bigText" disabled><b> សំណួរល្បងប្រាជ្ញា </b></b-nav-item>
    <b-nav-item class="headerText" disabled>ចំនួនសំណួរ: {{currentIndex}}នៃ{{questionIndex}}  </b-nav-item>
  </b-nav> -->
  <h1>Hello world</h1>
  </div>
</template>
<script>
export default {
  props: {
    questionIndex: Number,
    currentIndex: Number
  },
  mounted() {
    // console.log(this.questionIndex)
  },
}
</script>
<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Battambang:wght@700&display=swap');

  .headerText {
    font-family: 'Battambang', cursive;
  }
  .bigText {
    font-size: 20px;
    font-weight: 700;
    color: darkorange!important;
  }
</style>
