<template>
  <div>
    <b-jumbotron  class="border-content" header="BootstrapVue">
      <template #header></template>

      <template>
        <div class="questionStyle">
          {{ currentQuiz.question }}
        </div>
      </template>

      <hr class="my-4">
      <div>
        <ul>
          <sequential-entrance fromRight>
          <li v-for="(answer, index) in answers" :key="index" @click.prevent="selectedAnswer(index)" :class="[selectedIndex === index ? 'selected' : '']">
            <md-button class="no-outline items answerStyle" style="width: 60%; height: 80px; border-radius: 12px">{{ answer }}</md-button><br>
          </li>
          </sequential-entrance>
        </ul>
      </div>
      <p >
        
      </p>
       <md-button :disabled = "disablePrev" class="navButton no-outline button-size button" @click="prev">មុន</md-button>
       <md-button :disabled = "!!disableNext" class="navButton no-outline button-size button" @click="next">បន្ទាប់</md-button>
       <md-button class="no-outline button-size submitButton button">រូចរាល់</md-button>
      
    </b-jumbotron>
  </div>
</template>
<script>
import _ from 'lodash'
import Vue from 'vue'
import { MdButton, MdContent, MdTabs } from 'vue-material/dist/components'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/default.css'
import SequentialEntrance from 'vue-sequential-entrance'
import 'vue-sequential-entrance/vue-sequential-entrance.css'
import { BootstrapVue } from 'bootstrap-vue'

Vue.use(SequentialEntrance);

Vue.use(MdButton)
Vue.use(MdContent)
Vue.use(MdTabs)
Vue.use(BootstrapVue)
export default {
  data() {
    return {
      selectedIndex: null,
      shuffledAnswers: []
    }
  },
   computed: {
    answers() {
      let answers = [...this.currentQuiz.incorrect]
      answers.push(this.currentQuiz.correct)
      answers.sort(() => Math.random() - 0.5)
      return answers
    }
  },
  watch: {
    correctQuestion() {
      this.selectedIndex = null
    }
  },
  methods: {
    selectedAnswer(index) {
      this.selectedIndex= index
      this.shuffledAnswers = _.shuffle
      // console.log(this.selectedIndex)
    },
  },
  props: {
    currentQuiz: Object,
    disablePrev: Boolean,
    disableNext: Boolean,
    next: Function,
    prev: Function
  },
  mounted() {
    console.log(this.disablePrev)
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@700&display=swap');
  .button {
    margin-right: 10px;
    font-family: 'Battambang', cursive;
  }
  .items:hover {
    background-color:rgb(202, 255, 202);
    font-weight: 700;
    font-size: 21px;
    transition: 0.1s linear;
  }
  .items{
    background-color: lightskyblue;
    transition: 0.1s linear;
  }
  .items:focus {
    background-color:rgb(0, 180, 105);
    font-weight: 900;
    font-size: 25px;
    transition: 0.1s linear;
    color: white;
  }
  .no-outline{
    outline: none;
  }
  .button-size {
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-weight: bolder;
    font-size: 18px;
  }
  .border-content{
    margin-top: 10px;
    border-radius: 12px;
  }
  li {
    list-style-type: none;
  }
  ul {
    padding: 0px!important;
  }
  .questionStyle {
    font-weight: 700;
    font-size: 28px;
    text-shadow: 1px 2px 2px lightgrey ;
    font-family: 'Battambang', cursive;
  }
  .answerStyle {
    font-weight: 500px;
    font-size: 18px;
    font-family: 'Battambang', cursive;
  }
  .submitButton {
    background-color: lightgreen;
  }
  .navButton {
    background-color: lightblue;
  }
</style>