<template>
  <div id="app">
    <h1>
      Hello world
    </h1>
    <!-- <Header
    v-if="questions.length"
    :questionIndex = questions.length
    :currentIndex = index+1
    />
    <b-container class="bv-example-row">
  <b-row>
    <b-col v-if="questions.length">
      <QuestionBox
      :currentQuiz = "questions[index]"
      :next="next"
      :prev="prev"
      />
    </b-col>
  </b-row>
</b-container> -->
  </div>
</template>

<script>
// import Header from './components/Header.vue'
// import QuestionBox from './components/QuestionBox.vue'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios ,axios)

export default {
  name: 'App',
  components: {
    // Header,
    // QuestionBox
  },
  data() {
    return {
      questions: [],
      index: 0
    }
  },
  methods: {
    next() {
      this.disableNext = false
      this.index++
      if ( this.index == this.questions.length -1 ) {
        this.disableNext = true
      }
      else {
        this.disablePrev = false
      }
    },
    prev() {
      this.disablePrev = false
      this.index--
      if ( this.index < 1 ){
        this.disablePrev = true
      }
      else {
        this.disableNext = false
      }
    }
  },
  mounted: function() {

    Vue.axios.get('http://localhost:3000/quiz').then((response) => {
      this.questions = response.data
    // console.log(response.data)
})
  }
}
</script>

<style>
#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
</style>
